<p id="notice"><%= notice %></p>

<p>
  <strong><%= @user.username %></strong>
</p>

<p>
  <% if @user.ratings.empty? %>
    Hasn't made any ratings yet
  <% else %>
    Has made <%= pluralize @user.ratings.count, 'rating' %>, average <%= @user.average_rating %>
  <% end %>
</p>

<ul>
  <% @user.ratings.each do |rating| %>
  <li> <%= rating.to_s %> 
  	<% if current_user == rating.user %>
	  <%= link_to 'delete', rating, :method => :delete %>
	<% end %>
  </li>
  <% end %>
</ul>

<% if current_user == @user %>
  <%= link_to 'Edit', edit_user_path(@user) %> |
  <%= link_to 'Destroy', @user, method: :delete, data: { confirm: 'Are you sure?' } %> |
<% end %>
<%= link_to 'Back', users_path %>
