<p id="notice"><%= notice %></p>

<p>
  <strong><%= @user.username %></strong>
</p>

<p>
  <% if @user.ratings.empty? %>
    Hasn't made any ratings yet
  <% else %>
    Has made <%= pluralize @user.ratings.count, 'rating' %>, average <%= @user.average_rating %>
  <% end %>
</p>

<% if not @user.favorite_style.nil? %>
  <p>
    Favorite style <%= @user.favorite_style %>
  </p>
<% end %>

<% if not @user.favorite_brewery.nil? %>
  <p>
    Favorite brewery <%= @user.favorite_brewery.name %>
  </p>
<% end %>

<% if not @user.beer_clubs.empty? %>
  <p>
    Member of
    <% @user.beer_clubs.each do |club| %>
      <%= link_to club.name, club %>
    <% end %>
  </p>
<% end %>

<ul>
  <% @user.ratings.each do |rating| %>
  <li> <%= rating.to_s %> 
  	<% if current_user == rating.user %>
	  <%= link_to 'delete', rating, :method => :delete %>
	<% end %>
  </li>
  <% end %>
</ul>

<% if current_user == @user %>
  <%= link_to 'Edit', edit_user_path(@user) %> |
  <%= link_to 'Destroy', @user, method: :delete, data: { confirm: 'Are you sure?' } %> |
<% end %>
<%= link_to 'Back', users_path %>
