<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @style.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @style.description %>
</p>

<table>
  <% @beers.each do |beer| %>
    <tr>
      <td><%= link_to beer.name, beer %></td>
    </tr>
  <% end %>
</table>

<%= link_to 'Edit', edit_style_path(@style), class:"btn btn-default" %> |
<%= link_to 'Back', styles_path, class:"btn btn-default" %>
